@import "../../theme.css";

.submit-button {
  margin: 0;
  padding: 0 5px 0;
  border: none;
  cursor: pointer;
  background-color: var(--button-color);
  transition: opacity 0.3s linear 0s;
  font-size: 12px;
  line-height: 17px;
}

.submit-button:hover {
  opacity: 0.7;
}

.submit-button:hover:active {
  background-color: var(--button-color-hover);
}

.submit-button:disabled {
  background-color: var(--button-color-disabled);
}

.submit-button:disabled:hover {
  opacity: 1;
  cursor: default;
}
