.result-window {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: flex-start;
}

.result-window:last-of-type {
    margin-left: 0;
}

.result-window__preview {

}

.result-window__preview_disable {
    display: none;
}

.result-window__preview_enable {
    display: grid;
}