.search-result {
  margin: 0;
  padding: 20px 0 15px;
}

.search-result__title {
  margin: 0 0 15px;
  padding: 0;
  text-align: center;
}

.search-result__rows {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 150px auto 150px;
  gap: 5px;
}

.search-result__rows_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}

.search-result__rows_content {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.search-result__first-column {
  border-radius: 3px;
}

.search-result__first-column_title {
  background-color: var(--column-title-bg-color);
}

.search-result__first-column_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--column-content-bg-color);
}

.search-result__second-column {
  border-radius: 3px;
}

.search-result__second-column_title {
  background-color: var(--column-title-bg-color);
}

.search-result__second-column_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--column-content-bg-color);
}

.search-result__therd-column {
  border-radius: 3px;
}

.search-result__therd-column_title {
  background-color: var(--column-title-bg-color);
}

.search-result__therd-column_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--column-content-bg-color);
}

.search-result__content {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

.search-result__tag {
  padding: 0 0 0 5px;
  margin: 0;
  width: max-content;
}

.search-result__tag:first-child {
  padding-left: 0;
}

.search-result__tag::after {
  content: ", ";
}

.search-result__tag:last-child::after {
  content: "";
}

@media screen and (max-width: 768px) {
  .search-result__rows {
    grid-template-columns: 2fr 3fr;
  }

  .search-result__first-column {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .search-result__second-column {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .search-result__therd-column {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .search-result__content {
    gap: 20px;
  }
}
