@import "./vendor/normalize.css";
@import "./vendor/fonts/inter/inter.css";

.page {
  background: #060f18;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

*,
*::before,
*::after {
  outline: 1px solid red;
}
